<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen">
</head>
<body id="body">
  <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="index.html"><img class="homeImg" src="../images/homelogo.png" alt="home"> Home</a></li>
        <li><a href="restaurante.html">Restaurante</a></li>
        <li><a href="carro.html">Carro</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <a href="http://www.ifsp.edu.br" target="_blank"><img id="ifsplogo" src="../images/ifsplogo.png" alt="ifsplogo"></a>
    <fieldset class="campo">
      <h1 class="titulo2">Avaliação de DWA3</h1>
      <hr>
      <div class="centro">
        <p><i>Alexandre Yudi I. de Oliveira</i></p>
        <p><i>SP3046923</i></p>
      </div>
      <p>Esse site foi feito por mim, <b>Alexandre Yudi</b>, para a prova da matéria de Desenvolvimento Web 1 do <b>Instituto Federal de São Paulo</b> no dia 03/08/2021. Com todo o conteúdo sobre <b>CSS, HTML e JavaScript</b>, que foi passado ao longo do semestre, pude fazer essa atividade, sendo esse o resultado.</p>
      <div class="centro">
        <p>Espero que goste!</p>
      </div>
    </fieldset>
  </div>
  
</body>
</html>